In [13]:
%matplotlib notebook

In [14]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from matplotlib import rcParams
from pandas import DataFrame

In [15]:
US = "usa.streams.csv"
Germany = "germany.streams.csv"
Lithuania = "lithuania.streams.csv"
France = "france.streams.csv"
Norway = "norway.streams.csv"

US_df = pd.read_csv(US)
Germany_df = pd.read_csv(Germany)
Lithuania_df = pd.read_csv(Lithuania)
France_df = pd.read_csv(France)
Norway_df = pd.read_csv(Norway)

In [32]:
Billboard_data = [['Luis Fonsi - Despacito - Remix', 1], ['Ed Sheeran - Shape of You', 2], ['Bad and Boujee (feat. Lil Uzi Vert)',3], ['Kendrick Lamar - HUMBLE.',4], ['Bruno Mars - Thats What I Like',5], ['Post Malone - Congratulations',6], ['Lil Uzi Vert - XO TOUR Llif3',7], ['Future - Mask Off',8], ['The Chainsmokers - Closer',9] , ['DJ Khalid - Im the one',10]]

Billboard_df = pd.DataFrame(Billboard_data, columns = ['Artist_and_Track_Name', 'Billboard Position']) 
Billboard_df

                 Artist_and_Track_Name  Billboard Position
0       Luis Fonsi - Despacito - Remix                   1
1            Ed Sheeran - Shape of You                   2
2  Bad and Boujee (feat. Lil Uzi Vert)                   3
3             Kendrick Lamar - HUMBLE.                   4
4       Bruno Mars - Thats What I Like                   5
5        Post Malone - Congratulations                   6
6         Lil Uzi Vert - XO TOUR Llif3                   7
7                    Future - Mask Off                   8
8            The Chainsmokers - Closer                   9
9               DJ Khalid - Im the one                  10

In [47]:
USvsBB_df = pd.merge(US_df, Billboard_df,
                                 how='inner', on='Artist_and_Track_Name')
USvsBB_df

            Artist_and_Track_Name  US_Streams  Position  Billboard Position
0        Kendrick Lamar - HUMBLE.   339677217         1                   4
1    Lil Uzi Vert - XO TOUR Llif3   316206696         2                   7
2   Post Malone - Congratulations   285451131         3                   6
3       Ed Sheeran - Shape of You   282319891         4                   2
4               Future - Mask Off   241828211         5                   8
5  Luis Fonsi - Despacito - Remix   235012075         7                   1

In [48]:
GermanyvsBB_df = pd.merge(Germany_df, Billboard_df,
                                 how='inner', on='Artist_and_Track_Name')
GermanyvsBB_df

,Artist_and_Track_Name,Germany_Streams,Position,Billboard Position
0,Ed Sheeran - Shape of You,97689020,1,2
1,Luis Fonsi - Despacito - Remix,50855083,5,1

In [49]:
LithuaniavsBB_df = pd.merge(Lithuania_df, Billboard_df,
                                 how='inner', on='Artist_and_Track_Name')
LithuaniavsBB_df

,Artist_and_Track_Name,Lithuania_Streams,Position,Billboard Position
0,Ed Sheeran - Shape of You,904314,1,2
1,Kendrick Lamar - HUMBLE.,400471,5,4
2,Luis Fonsi - Despacito - Remix,391058,7,1

In [50]:
FrancevsBB_df = pd.merge(France_df, Billboard_df,
                                 how='inner', on='Artist_and_Track_Name')
FrancevsBB_df

       Artist_and_Track_Name  France_Streams  Position  Billboard Position
0  Ed Sheeran - Shape of You        46245081         1                   2
1          Future - Mask Off        18945509         9                   8

In [55]:
FrancevsBB_df = pd.merge(France_df, Billboard_df,
                                 how='inner', on='Artist_and_Track_Name')
FrancevsBB_df

       Artist_and_Track_Name  France_Streams  Position  Billboard Position
0  Ed Sheeran - Shape of You        46245081         1                   2
1          Future - Mask Off        18945509         9                   8