In [1]:
import numpy as np
import csv
import json
import matplotlib.pyplot as plt; plt.rcdefaults()
import matplotlib.pyplot as plt
import matplotlib.pyplot as mlp
import pandas as pd
from pandas import DataFrame

from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('data.csv')
df = df.drop('URL', axis=1)
df['track'] = df['Artist']+ ' - ' + df['Track Name']
df.head()

,Position,Track Name,Artist,Streams,Date,Region,track
0,1,Reggaetón Lento (Bailemos),CNCO,19272,1/1/2017,ec,CNCO - Reggaetón Lento (Bailemos)
1,2,Chantaje,Shakira,19270,1/1/2017,ec,Shakira - Chantaje
2,3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,1/1/2017,ec,Zion & Lennox - Otra Vez (feat. J Balvin)
3,4,Vente Pa' Ca,Ricky Martin,14954,1/1/2017,ec,Ricky Martin - Vente Pa' Ca
4,5,Safari,J Balvin,14269,1/1/2017,ec,J Balvin - Safari

In [6]:
All_streams = df.groupby(['track'])['Streams'].sum().reset_index()
All = All_streams.sort_values(['Streams'], ascending=False)
All.rename(columns = {'Streams':'all_streams'}, inplace = True)

# create column "position"
All['all_position'] = range(1, 1+len(All))
export_csv = All.to_csv('all.streams.csv', index=False)
All.head(10)

                                            track  all_streams  all_position
2591                    Ed Sheeran - Shape of You    672625163             1
5967               Luis Fonsi - Despacito - Remix    436357471             2
5056                     Kendrick Lamar - HUMBLE.    427988388             3
5709                 Lil Uzi Vert - XO TOUR Llif3    385291739             4
7738                       Post Malone - rockstar    360260253             5
7731                Post Malone - Congratulations    345297028             6
3187               French Montana - Unforgettable    343472485             7
2005                      DJ Khaled - I'm the One    330539999             8
3222                            Future - Mask Off    330301606             9
9309  The Chainsmokers - Something Just Like This    326179128            10

In [7]:
US_only_df = df[df['Region'] == 'us']
US_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,track
771622,1,Bad and Boujee (feat. Lil Uzi Vert),Migos,1371493,1/1/2017,us,Migos - Bad and Boujee (feat. Lil Uzi Vert)
771623,2,Fake Love,Drake,1180074,1/1/2017,us,Drake - Fake Love
771624,3,Starboy,The Weeknd,1064351,1/1/2017,us,The Weeknd - Starboy
771625,4,Closer,The Chainsmokers,1010492,1/1/2017,us,The Chainsmokers - Closer
771626,5,Black Beatles,Rae Sremmurd,874289,1/1/2017,us,Rae Sremmurd - Black Beatles

In [37]:
# groupby artist and track then stream count
US = US_only_df.groupby(['track'])['Streams'].sum().reset_index()
US_df = pd.DataFrame(US)
# sort descending order on stream count
US = US_df.sort_values(['Streams'], ascending=False)
US.rename(columns = {'Streams':'us_streams'}, inplace = True)
# create column "position"
US['us_position'] = range(1, 1+len(US))
# create index to value to find top 10, and delete the rest
indexNames = US[ (US['us_position'] >= 50) ].index
US.drop(indexNames , inplace=True)
# copy data
US.set_index('us_position')
# print(US.US_Streams.values.tolist())
# print(US.Position.values.tolist())
# print(US.Artist_and_Track_Name.values.tolist())

export_csv = US.to_csv('usa.streams.csv', index=False)
usa_streams = pd.read_csv('usa.streams.csv', index_col=2)
usa_streams.head(10)

                                      track  us_streams
us_position
1                  Kendrick Lamar - HUMBLE.   339677217
2              Lil Uzi Vert - XO TOUR Llif3   316206696
3             Post Malone - Congratulations   285451131
4                 Ed Sheeran - Shape of You   282319891
5                         Future - Mask Off   241828211
6                    Post Malone - rockstar   238013267
7            Luis Fonsi - Despacito - Remix   235012075
8            KYLE - iSpy (feat. Lil Yachty)   227087919
9                         Khalid - Location   226224851
10                   Logic - 1-800-273-8255   221788327

In [12]:
DE_only_df = df[df['Region'] == 'de']
DE_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,track
958915,1,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,229398,1/1/2017,de,Clean Bandit - Rockabye (feat. Sean Paul & Ann...
958916,2,Alone,Alan Walker,192026,1/1/2017,de,Alan Walker - Alone
958917,3,Chöre,Mark Forster,181869,1/1/2017,de,Mark Forster - Chöre
958918,4,Starboy,The Weeknd,176328,1/1/2017,de,The Weeknd - Starboy
958919,5,Closer,The Chainsmokers,170745,1/1/2017,de,The Chainsmokers - Closer

In [36]:
# groupby artist and track then stream count
DE = DE_only_df.groupby(['track'])['Streams'].sum().reset_index()
DE_df = pd.DataFrame(DE)
# sort descending order on stream count
DE = DE_df.sort_values(['Streams'], ascending=False)
DE.rename(columns = {'Streams':'germany_streams'}, inplace = True)
# # create column "position"
DE['germany_position'] = range(1, 1+len(DE))
# # create index to value to find top 10, and delete the rest
indexNames = DE[ (DE['germany_position'] >= 1000) ].index
DE.drop(indexNames , inplace=True)
# copy data
DE.copy
export_csv = DE.to_csv('germany.streams.csv', index=False)
germany_streams = pd.read_csv('germany.streams.csv')
germany_streams.head()

                                     track  germany_streams  germany_position
0                Ed Sheeran - Shape of You         97689020                 1
1           French Montana - Unforgettable         54247500                 2
2  Axwell /\ Ingrosso - More Than You Know         54124456                 3
3              Bausa - Was Du Liebe nennst         51699927                 4
4           Luis Fonsi - Despacito - Remix         50855083                 5

In [14]:
FR_only_df = df[df['Region'] == 'fr']
FR_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,track
74200,1,One Dance,Drake,89403,1/1/2017,fr,Drake - One Dance
74201,2,Starboy,The Weeknd,80882,1/1/2017,fr,The Weeknd - Starboy
74202,3,24K Magic,Bruno Mars,80838,1/1/2017,fr,Bruno Mars - 24K Magic
74203,4,My Way,Calvin Harris,72133,1/1/2017,fr,Calvin Harris - My Way
74204,5,Mauvaise graine,Nekfeu,71082,1/1/2017,fr,Nekfeu - Mauvaise graine

In [35]:
# groupby artist and track then stream count
FR = FR_only_df.groupby(['track'])['Streams'].sum().reset_index()
FR_df = pd.DataFrame(FR)
# sort descending order on stream count
FR = FR_df.sort_values(['Streams'], ascending=False)
FR.rename(columns = {'Streams':'france_streams'}, inplace = True)
# # create column "position"
FR['france_position'] = range(1, 1+len(FR))
# # create index to value to find top 10, and delete the rest
indexNames = FR[ (FR['france_position'] >= 1000) ].index
FR.drop(indexNames , inplace=True)
# copy data
FR.copy
export_csv = FR.to_csv('france.streams.csv', index=False)
france_streams = pd.read_csv('france.streams.csv')
france_streams.head(10)

,track,france_streams,france_position
0,Ed Sheeran - Shape of You,46245081,1
1,Niska - Réseaux,32676109,2
2,Damso - Θ. Macarena,28999946,3
3,Kalash - Mwaka Moon,23675630,4
4,French Montana - Unforgettable,21290467,5
5,Damso - Ε. Signaler,20401928,6
6,Ninho - Mamacita,20215790,7
7,Luis Fonsi - Despacito (Featuring Daddy Yankee),19651111,8
8,Future - Mask Off,18945509,9
9,Starley - Call On Me - Ryan Riback Extended Remix,18127408,10

In [17]:
LT_only_df = df[df['Region'] == 'lt']
LT_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,track
445200,1,Starboy,The Weeknd,2583,1/1/2017,lt,The Weeknd - Starboy
445201,2,I Feel It Coming,The Weeknd,2257,1/1/2017,lt,The Weeknd - I Feel It Coming
445202,3,I Don’t Wanna Live Forever (Fifty Shades Darke...,ZAYN,1972,1/1/2017,lt,ZAYN - I Don’t Wanna Live Forever (Fifty Shade...
445203,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,1961,1/1/2017,lt,Clean Bandit - Rockabye (feat. Sean Paul & Ann...
445204,5,Closer,The Chainsmokers,1944,1/1/2017,lt,The Chainsmokers - Closer

In [33]:
# groupby artist and track then stream count
LT = LT_only_df.groupby(['track'])['Streams'].sum().reset_index()
LT_df = pd.DataFrame(LT)
# sort descending order on stream count
LT = LT_df.sort_values(['Streams'], ascending=False)
LT.rename(columns = {'Streams':'lithuania_streams'}, inplace = True)
# # create column "position"
LT['lithuania_position'] = range(1, 1+len(LT))
# # create index to value to find top 10, and delete the rest
indexNames = LT[ (LT['lithuania_position'] >= 1000) ].index
LT.drop(indexNames , inplace=True)
# copy data
LT.copy
export_csv = LT.to_csv('lithuania.streams.csv',index=False)
lithuania_streams = pd.read_csv('lithuania.streams.csv')
lithuania_streams.head(10)

,track,lithuania_streams,lithuania_position
0,Ed Sheeran - Shape of You,904314,1
1,Imagine Dragons - Thunder,439591,2
2,The Chainsmokers - Something Just Like This,422375,3
3,Imagine Dragons - Believer,403484,4
4,Kendrick Lamar - HUMBLE.,400471,5
5,Kygo - It Ain't Me (with Selena Gomez),391386,6
6,Luis Fonsi - Despacito - Remix,391058,7
7,French Montana - Unforgettable,376974,8
8,ZAYN - I Don’t Wanna Live Forever (Fifty Shade...,369101,9
9,Zedd - Stay (with Alessia Cara),347835,10

In [20]:
NO_only_df = df[df['Region'] == 'no']
NO_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,track
296800,1,Alone,Alan Walker,103886,1/1/2017,no,Alan Walker - Alone
296801,2,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,85990,1/1/2017,no,Clean Bandit - Rockabye (feat. Sean Paul & Ann...
296802,3,I Don’t Wanna Live Forever (Fifty Shades Darke...,ZAYN,68706,1/1/2017,no,ZAYN - I Don’t Wanna Live Forever (Fifty Shade...
296803,4,Call On Me - Ryan Riback Extended Remix,Starley,60334,1/1/2017,no,Starley - Call On Me - Ryan Riback Extended Remix
296804,5,I Feel It Coming,The Weeknd,56607,1/1/2017,no,The Weeknd - I Feel It Coming

In [34]:
# groupby artist and track then stream count
NO = NO_only_df.groupby(['track'])['Streams'].sum().reset_index()
NO_df = pd.DataFrame(NO)
# sort descending order on stream count
NO = NO_df.sort_values(['Streams'], ascending=False)
NO.rename(columns = {'Streams':'norway_streams'}, inplace = True)
# # create column "position"
NO['norway_position'] = range(1, 1+len(NO))
# # create index to value to find top 10, and delete the rest
indexNames = NO[ (NO['norway_position'] >= 1000) ].index
NO.drop(indexNames , inplace=True)
# copy data
NO.copy
export_csv = NO.to_csv('norway.streams.csv', index=False)
norway_streams = pd.read_csv('norway.streams.csv')
norway_streams.head(10)

,track,norway_streams,norway_position
0,Ed Sheeran - Shape of You,31152940,1
1,Luis Fonsi - Despacito - Remix,30053768,2
2,Kygo - It Ain't Me (with Selena Gomez),24157944,3
3,Hkeem - Fy Faen,20722045,4
4,Burak Yeter - Tuesday,17334548,5
5,ItaloBrothers - Summer Air,17126528,6
6,Julia Michaels - Issues,16550770,7
7,Post Malone - rockstar,16025980,8
8,Clean Bandit - Symphony (feat. Zara Larsson),15894725,9
9,Martin Garrix - Scared to Be Lonely,15606347,10

In [26]:
connection_string = "postgres:postgres@localhost:5432/2017_StreamingDB_test"
engine = create_engine(f'postgresql://{connection_string}')

In [38]:
engine.table_names()

['top_billboard',
 'top_us_streams',
 'germany_streams',
 'norway_streams',
 'lithuania_streams',
 'france_streams']

In [44]:
usa_streams.to_sql(name='top_us_streams', con=engine, if_exists='append', index=True)

In [45]:
norway_streams.to_sql(name='norway_streams', con=engine, if_exists='append', index=True)

In [46]:
lithuania_streams.to_sql(name='lithuania_streams', con=engine, if_exists='append', index=True)

In [47]:
france_streams.to_sql(name='france_streams', con=engine, if_exists='append', index=True)

In [48]:
germany_streams.to_sql(name='germany_streams', con=engine, if_exists='append', index=True)

In [51]:
Billboard_data = [['Luis Fonsi - Despacito - Remix', 1], ['Ed Sheeran - Shape of You', 2], ['Migos - Bad and Boujee (feat. Lil Uzi Vert)',3], ['Kendrick Lamar - HUMBLE.',4], ["Bruno Mars - That's What I Like",5], ['Post Malone - Congratulations',6], ['Lil Uzi Vert - XO TOUR Llif3',7], ['Future - Mask Off',8], ['The Chainsmokers - Closer',9] , ["DJ Khaled - I'm the One",10]]

Billboard_df = pd.DataFrame(Billboard_data, columns = ['track', 'billboard_position'])
Billboard_df

                                         track  billboard_position
0               Luis Fonsi - Despacito - Remix                   1
1                    Ed Sheeran - Shape of You                   2
2  Migos - Bad and Boujee (feat. Lil Uzi Vert)                   3
3                     Kendrick Lamar - HUMBLE.                   4
4              Bruno Mars - That's What I Like                   5
5                Post Malone - Congratulations                   6
6                 Lil Uzi Vert - XO TOUR Llif3                   7
7                            Future - Mask Off                   8
8                    The Chainsmokers - Closer                   9
9                      DJ Khaled - I'm the One                  10

In [52]:
Billboard_df.to_sql(name='top_billboard', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "top_billboard_pkey"
DETAIL:  Key (index)=(0) already exists.

[SQL: INSERT INTO top_billboard (index, track, billboard_position) VALUES (%(index)s, %(track)s, %(billboard_position)s)]
[parameters: ({'index': 0, 'track': 'Luis Fonsi - Despacito - Remix', 'billboard_position': 1}, {'index': 1, 'track': 'Ed Sheeran - Shape of You', 'billboard_position': 2}, {'index': 2, 'track': 'Migos - Bad and Boujee (feat. Lil Uzi Vert)', 'billboard_position': 3}, {'index': 3, 'track': 'Kendrick Lamar - HUMBLE.', 'billboard_position': 4}, {'index': 4, 'track': "Bruno Mars - That's What I Like", 'billboard_position': 5}, {'index': 5, 'track': 'Post Malone - Congratulations', 'billboard_position': 6}, {'index': 6, 'track': 'Lil Uzi Vert - XO TOUR Llif3', 'billboard_position': 7}, {'index': 7, 'track': 'Future - Mask Off', 'billboard_position': 8}, {'index': 8, 'track': 'The Chainsmokers - Closer', 'billboard_position': 9}, {'index': 9, 'track': "DJ Khaled - I'm the One", 'billboard_position': 10})]
(Background on this error at: http://sqlalche.me/e/gkpj)