In [19]:
import numpy as np
import csv
import json
import matplotlib.pyplot as plt; plt.rcdefaults()
import matplotlib.pyplot as plt
import matplotlib.pyplot as mlp
import pandas as pd
from pandas import DataFrame

from sqlalchemy import create_engine

In [21]:
df = pd.read_csv('Resources/data.csv')
df = df.drop('URL', axis=1)
df['Artist_and_Track_Name'] = df['Artist']+ ' - ' + df['Track Name']
df.head()

,Position,Track Name,Artist,Streams,Date,Region,Artist_and_Track_Name
0,1,Reggaetón Lento (Bailemos),CNCO,19272,1/1/2017,ec,CNCO - Reggaetón Lento (Bailemos)
1,2,Chantaje,Shakira,19270,1/1/2017,ec,Shakira - Chantaje
2,3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,1/1/2017,ec,Zion & Lennox - Otra Vez (feat. J Balvin)
3,4,Vente Pa' Ca,Ricky Martin,14954,1/1/2017,ec,Ricky Martin - Vente Pa' Ca
4,5,Safari,J Balvin,14269,1/1/2017,ec,J Balvin - Safari

In [22]:
All_streams = df.groupby(['Artist_and_Track_Name'])['Streams'].sum().reset_index()
All = All_streams.sort_values(['Streams'], ascending=False)
All.rename(columns = {'Streams':'All_Streams'}, inplace = True)
# create column "position"
All['Position'] = range(1, 1+len(All))
export_csv = All.to_csv('Resources/all.streams.csv', index=False)
All.head()

               Artist_and_Track_Name  All_Streams  Position
2591       Ed Sheeran - Shape of You    672625163         1
5967  Luis Fonsi - Despacito - Remix    436357471         2
5056        Kendrick Lamar - HUMBLE.    427988388         3
5709    Lil Uzi Vert - XO TOUR Llif3    385291739         4
7738          Post Malone - rockstar    360260253         5

In [23]:
US_only_df = df[df['Region'] == 'us']
US_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,Artist_and_Track_Name
771622,1,Bad and Boujee (feat. Lil Uzi Vert),Migos,1371493,1/1/2017,us,Migos - Bad and Boujee (feat. Lil Uzi Vert)
771623,2,Fake Love,Drake,1180074,1/1/2017,us,Drake - Fake Love
771624,3,Starboy,The Weeknd,1064351,1/1/2017,us,The Weeknd - Starboy
771625,4,Closer,The Chainsmokers,1010492,1/1/2017,us,The Chainsmokers - Closer
771626,5,Black Beatles,Rae Sremmurd,874289,1/1/2017,us,Rae Sremmurd - Black Beatles

In [24]:
# groupby artist and track then stream count
US = US_only_df.groupby(['Artist_and_Track_Name'])['Streams'].sum().reset_index()
US_df = pd.DataFrame(US)
# sort descending order on stream count
US = US_df.sort_values(['Streams'], ascending=False)
US.rename(columns = {'Streams':'US_Streams'}, inplace = True)
# create column "position"
US['Position'] = range(1, 1+len(US))
# create index to value to find top 10, and delete the rest
indexNames = US[ (US['Position'] >= 50) ].index
US.drop(indexNames , inplace=True)
# copy data
US.set_index('Position')
# print(US.US_Streams.values.tolist())
# print(US.Position.values.tolist())
# print(US.Artist_and_Track_Name.values.tolist())

export_csv = US.to_csv('Resources/usa.streams.csv', index=False)
US = pd.read_csv('Resources/usa.streams.csv', index_col=2)
US.head(10)

                   Artist_and_Track_Name  US_Streams
Position
1               Kendrick Lamar - HUMBLE.   339677217
2           Lil Uzi Vert - XO TOUR Llif3   316206696
3          Post Malone - Congratulations   285451131
4              Ed Sheeran - Shape of You   282319891
5                      Future - Mask Off   241828211
6                 Post Malone - rockstar   238013267
7         Luis Fonsi - Despacito - Remix   235012075
8         KYLE - iSpy (feat. Lil Yachty)   227087919
9                      Khalid - Location   226224851
10                Logic - 1-800-273-8255   221788327

In [25]:
DE_only_df = df[df['Region'] == 'de']
DE_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,Artist_and_Track_Name
958915,1,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,229398,1/1/2017,de,Clean Bandit - Rockabye (feat. Sean Paul & Ann...
958916,2,Alone,Alan Walker,192026,1/1/2017,de,Alan Walker - Alone
958917,3,Chöre,Mark Forster,181869,1/1/2017,de,Mark Forster - Chöre
958918,4,Starboy,The Weeknd,176328,1/1/2017,de,The Weeknd - Starboy
958919,5,Closer,The Chainsmokers,170745,1/1/2017,de,The Chainsmokers - Closer

In [26]:
# groupby artist and track then stream count
DE = DE_only_df.groupby(['Artist_and_Track_Name'])['Streams'].sum().reset_index()
DE_df = pd.DataFrame(DE)
# sort descending order on stream count
DE = DE_df.sort_values(['Streams'], ascending=False)
DE.rename(columns = {'Streams':'Germany_Streams'}, inplace = True)
# # create column "position"
DE['Position'] = range(1, 1+len(DE))
# # create index to value to find top 10, and delete the rest
indexNames = DE[ (DE['Position'] >= 1000) ].index
DE.drop(indexNames , inplace=True)
# copy data
DE.copy
export_csv = DE.to_csv('Resources/germany.streams.csv', index=False)
DE = pd.read_csv('Resources/germany.streams.csv')
DE.head()

                     Artist_and_Track_Name  Germany_Streams  Position
0                Ed Sheeran - Shape of You         97689020         1
1           French Montana - Unforgettable         54247500         2
2  Axwell /\ Ingrosso - More Than You Know         54124456         3
3              Bausa - Was Du Liebe nennst         51699927         4
4           Luis Fonsi - Despacito - Remix         50855083         5

In [27]:
FR_only_df = df[df['Region'] == 'fr']
FR_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,Artist_and_Track_Name
74200,1,One Dance,Drake,89403,1/1/2017,fr,Drake - One Dance
74201,2,Starboy,The Weeknd,80882,1/1/2017,fr,The Weeknd - Starboy
74202,3,24K Magic,Bruno Mars,80838,1/1/2017,fr,Bruno Mars - 24K Magic
74203,4,My Way,Calvin Harris,72133,1/1/2017,fr,Calvin Harris - My Way
74204,5,Mauvaise graine,Nekfeu,71082,1/1/2017,fr,Nekfeu - Mauvaise graine

In [28]:
# groupby artist and track then stream count
FR = FR_only_df.groupby(['Artist_and_Track_Name'])['Streams'].sum().reset_index()
FR_df = pd.DataFrame(FR)
# sort descending order on stream count
FR = FR_df.sort_values(['Streams'], ascending=False)
FR.rename(columns = {'Streams':'France_Streams'}, inplace = True)
# # create column "position"
FR['Position'] = range(1, 1+len(FR))
# # create index to value to find top 10, and delete the rest
indexNames = FR[ (FR['Position'] >= 1000) ].index
FR.drop(indexNames , inplace=True)
# copy data
FR.copy
export_csv = FR.to_csv('Resources/france.streams.csv', index=False)
FR = pd.read_csv('Resources/france.streams.csv')
FR.head()

            Artist_and_Track_Name  France_Streams  Position
0       Ed Sheeran - Shape of You        46245081         1
1                 Niska - Réseaux        32676109         2
2             Damso - Θ. Macarena        28999946         3
3             Kalash - Mwaka Moon        23675630         4
4  French Montana - Unforgettable        21290467         5

In [29]:
LT_only_df = df[df['Region'] == 'lt']
LT_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,Artist_and_Track_Name
445200,1,Starboy,The Weeknd,2583,1/1/2017,lt,The Weeknd - Starboy
445201,2,I Feel It Coming,The Weeknd,2257,1/1/2017,lt,The Weeknd - I Feel It Coming
445202,3,I Don’t Wanna Live Forever (Fifty Shades Darke...,ZAYN,1972,1/1/2017,lt,ZAYN - I Don’t Wanna Live Forever (Fifty Shade...
445203,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,1961,1/1/2017,lt,Clean Bandit - Rockabye (feat. Sean Paul & Ann...
445204,5,Closer,The Chainsmokers,1944,1/1/2017,lt,The Chainsmokers - Closer

In [30]:
# groupby artist and track then stream count
LT = LT_only_df.groupby(['Artist_and_Track_Name'])['Streams'].sum().reset_index()
LT_df = pd.DataFrame(LT)
# sort descending order on stream count
LT = LT_df.sort_values(['Streams'], ascending=False)
LT.rename(columns = {'Streams':'Lithuania_Streams'}, inplace = True)
# # create column "position"
LT['Position'] = range(1, 1+len(LT))
# # create index to value to find top 10, and delete the rest
indexNames = LT[ (LT['Position'] >= 1000) ].index
LT.drop(indexNames , inplace=True)
# copy data
LT.copy
export_csv = LT.to_csv('Resources/lithuania.streams.csv',index=False)
LT = pd.read_csv('Resources/lithuania.streams.csv')
LT.head()

                         Artist_and_Track_Name  Lithuania_Streams  Position
0                    Ed Sheeran - Shape of You             904314         1
1                    Imagine Dragons - Thunder             439591         2
2  The Chainsmokers - Something Just Like This             422375         3
3                   Imagine Dragons - Believer             403484         4
4                     Kendrick Lamar - HUMBLE.             400471         5

In [31]:
NO_only_df = df[df['Region'] == 'no']
NO_only_df.head()

,Position,Track Name,Artist,Streams,Date,Region,Artist_and_Track_Name
296800,1,Alone,Alan Walker,103886,1/1/2017,no,Alan Walker - Alone
296801,2,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,85990,1/1/2017,no,Clean Bandit - Rockabye (feat. Sean Paul & Ann...
296802,3,I Don’t Wanna Live Forever (Fifty Shades Darke...,ZAYN,68706,1/1/2017,no,ZAYN - I Don’t Wanna Live Forever (Fifty Shade...
296803,4,Call On Me - Ryan Riback Extended Remix,Starley,60334,1/1/2017,no,Starley - Call On Me - Ryan Riback Extended Remix
296804,5,I Feel It Coming,The Weeknd,56607,1/1/2017,no,The Weeknd - I Feel It Coming

In [32]:
# groupby artist and track then stream count
NO = NO_only_df.groupby(['Artist_and_Track_Name'])['Streams'].sum().reset_index()
NO_df = pd.DataFrame(NO)
# sort descending order on stream count
NO = NO_df.sort_values(['Streams'], ascending=False)
NO.rename(columns = {'Streams':'Norway_Streams'}, inplace = True)
# # create column "position"
NO['Position'] = range(1, 1+len(NO))
# # create index to value to find top 10, and delete the rest
indexNames = NO[ (NO['Position'] >= 1000) ].index
NO.drop(indexNames , inplace=True)
# copy data
NO.copy
export_csv = NO.to_csv('Resources/norway.streams.csv', index=False)
NO = pd.read_csv('Resources/norway.streams.csv')
NO.head()

                    Artist_and_Track_Name  Norway_Streams  Position
0               Ed Sheeran - Shape of You        31152940         1
1          Luis Fonsi - Despacito - Remix        30053768         2
2  Kygo - It Ain't Me (with Selena Gomez)        24157944         3
3                         Hkeem - Fy Faen        20722045         4
4                   Burak Yeter - Tuesday        17334548         5